body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: #EEF7FF;
}th, td, table{
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid #FF6500;
    border-collapse: collapse;
}td{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}#mainParagraph{
    font-size: 18px;
    height: 150px;
    font-family: "Poppins", sans-serif;
    width: 850px;
    color: #4D869C;
    font-size: 22px;
    text-align: center;
}#headerDiv{
    background-color: #CDE8E5;
    margin: 0%;
    height: 150px;
    width: 100%;
    position: relative;
}#headerText{
    color: #1E3E62;
    margin: 0%;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding-top: 40px;
}#yosTech{
    color: #FF6500;
    margin: 0%;
    font-family: "Poppins", sans-serif;
    text-align: center;
}#mainInfo{
    margin: auto;
    margin-top: 40px;
    width: 50%;
    padding: 10px;
    padding-bottom: 45px;
    position: relative;
}#listInfo{
    margin: auto;
    margin-top: 40px;
    width: 50%;
    padding: 10px;
    padding-bottom: 45px;
    position: relative;
    font-family: "Poppins", sans-serif;
}.listMain{
    color: #1E3E62;
    font-size: 30px;
    
}.listContent{
    color: #4D869C;
    font-size: 22px;
}#tableDiv{
    background-color: #CDE8E5;
    margin: 0%;
    height: 150px;
    width: 100%;
    position: relative;
}.paragraphTable{
    margin: 0%;
    padding-top: 50px;
    text-align: center;
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #1E3E62;
}#mainDivTable{
    background-color: #CDE8E5;
    margin: 0%;
    height: 150px;
    width: 100%;
    position: relative;
}#mainTextTable{
    color: #1E3E62;
    margin: 0%;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding-top: 60px;
    text-decoration: underline #FF6500;
}#underTableDiv{
    background-color: #CDE8E5;
    margin: 0%;
    height: 400px;
    width: 100%;
    position: relative;
}#table{
    color: #4D869C;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 100px;
    margin-top: 70px;
    
}#divOfTheTable{
    margin: auto;
    margin-top: 40px;
    width: 50%;
    padding: 10px;
    padding-bottom: 45px;
    position: relative;
}